@import "tailwindcss";

@theme {
  --color-pink-50: oklch(0.9449 0.0298 359.5);
  --color-pink-100: oklch(0.873 0.0722 2.38);
  --color-pink-200: oklch(0.8436 0.0913 2.81);
  --color-pink-300: oklch(0.7773 0.1377 4.78);
  --color-pink-400: oklch(0.7198 0.1733 6.9);
  --font-display: "Inter", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-pink-50 font-sans text-black antialiased;
  }
}

@utility btn-base {
  @apply inline-flex items-center justify-center rounded-sm font-medium transition-colors disabled:cursor-not-allowed disabled:opacity-50 focus:outline-1 focus:outline-offset-1 focus:outline-black;
}

@utility btn-primary {
  @apply bg-pink-300 text-white
    hover:bg-pink-400
    focus:bg-pink-400;
}

@utility btn-secondary {
  @apply bg-white text-black
    hover:bg-pink-400
    focus:bg-pink-400;
}

@utility btn-ghost {
  @apply bg-transparent hover:bg-pink-400/50;
}